$primary: #022E64;
$secondary: #EC2127;
$info: #368FFC;
$breadcrumb-divider: quote("|");
$breadcrumb-divider-color: $primary;

/* ---------------------------- */
/*           FORM-RANGE         */
/* ---------------------------- */

$form-range-track-bg: $secondary;
$form-range-thumb-bg: $secondary;           

@import url("https://use.typekit.net/hgm4chp.css");
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';


/* ---------------------------- */
/*            LAYOUT            */
/* ---------------------------- */

body {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100vh;
}

h1 {
    font-family: odile, serif;
}

h2, h3{
    text-transform: uppercase;
}

@mixin transition {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@mixin survol-liens($couleur1, $couleur2){
    background-color: $couleur1;
    color: $couleur2;
}

.nav-link{
    color: unset;
    @include transition;
    &:hover{
        @include survol-liens($info, white)
    }
}

.main-nav-ul{
    @extend .nav;
    @extend .nav-pills;
    @extend .rounded;
    @extend .flex-column;
    @extend .border;
    @extend .border-info;
    overflow: hidden
}

.main-nav-link, .list-group-item-action{
    @extend .nav-link;
    border-radius: 0rem !important;
    &:hover{
        @include survol-liens($secondary, white)
    }
}

div [class="border rounded"]{
    overflow: hidden;
}

/* ---------------------------- */
/*        PAGE ACCUEIL          */
/* ---------------------------- */

.carousel{
    border-radius: 0.25rem;
    overflow: hidden;
}

.texte-accueil-conteneur{
    @extend .card;
    border: none;
}

.card{
    background-color: unset;
}


/* ---------------------------- */
/*        PAGE CREATION         */
/* ---------------------------- */


.avatar-img-div {
    width: 10rem;
    height: 10rem; 
    border-radius: 50%;
    overflow: hidden;
}

.avatar-img {
    width: 100%;
}

section {
    .avatar-img-div{
        margin-top: 2rem;
    }
}


/* ---------------------------- */
/*  PAGE MUSICIEN PAR DEFAUT    */
/* ---------------------------- */

.table > :not(:first-child) {
    border-top: 0px;
}