{% extends 'layout.html' %} {% block contenu %}

<div class="container-fluid col-md-10">
  <h1 class="text-center p-5">Créer Un Musicien</h1>
  <form
    action="https://philippefleury.com/backend.php "
    method="POST"
    class="row"
  >
    <section class="col-6 p-5">
      <h2 class="text-center mb-5">Information Générale</h2>
      <div class="mb-3">
        <label for="Nom" class="form-label">Nom: </label>
        <input
          type="text"
          class="form-control"
          id="nom-page-creation"
          placeholder="Votre Nom"
        />
      </div>
      <h3 class="h5 mt-5">Marque d'instrument préférée</h3>
      <select class="form-select" aria-label="Marque d'instrument préférée">
        <option selected>Marque</option>
        <option value="fender">Fender</option>
        <option value="gretsch">Gretsch</option>
        <option value="gibson">Gibson</option>
      </select>
      <h3 class="h5 mt-5">Instrument</h3>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="voix" id="voix" />
        <label class="form-check-label" for="instrument"> Voix </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="guitare"
          id="guitare"
        />
        <label class="form-check-label" for="instrument"> Guitare </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="basse" id="basse" />
        <label class="form-check-label" for="instrument"> Basse </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="drums" id="drums" />
        <label class="form-check-label" for="instrument"> Drums </label>
      </div>

      <h3 class="h5 mt-5">Pouvoirs Musicaux</h3>
      <div>
        <label for="technique" class="form-label">Technique</label>
        <input type="range" class="form-range" min="0" max="5" id="technique" />
        <label for="feeling" class="form-label">Feeling</label>
        <input type="range" class="form-range" min="0" max="5" id="Feeling" />
        <label for="time" class="form-label">Time</label>
        <input type="range" class="form-range" min="0" max="5" id="time" />
        <label for="solos" class="form-label">Solos</label>
        <input type="range" class="form-range" min="0" max="5" id="solos" />
        <label for="attitude" class="form-label">Attitude</label>
        <input type="range" class="form-range" min="0" max="5" id="attitude" />
      </div>
      <div class="mt-5 text-center">
        <button type="submit" class="btn btn-outline-secondary m-2">
          Envoyer
        </button>
        <button type="button" class="btn btn-outline-secondary m-2">
          Aléatoire
        </button>
        <button type="reset" class="btn btn-outline-secondary m-2">
          Réinitialiser
        </button>
      </div>
    </section>
    <section class="col-6 p-5">
      <h2 class="text-center">Avatar</h2>
      <div class="">
        <figure class="avatar-img-div text-center">
          <img
            class="avatar-img"
            src="{{url_for('static', filename='img/avatar-bassist.jpg')}}"
            alt=""
          />
          <figcaption>Bassiste</figcaption>
        </figure>
        <figure class="avatar-img-div">
          <img
            class="avatar-img"
            src="{{url_for('static', filename='img/avatar-singer.jpg')}}"
            alt=""
          />
          <figcaption>Chanteur</figcaption>
        </figure>
        <figure class="avatar-img-div">
          <img
            class="avatar-img"
            src="{{url_for('static', filename='img/avatar-guitarist.jpg')}}"
            alt=""
          />
          <figcaption>Guitariste</figcaption>
        </figure>
        <figure class="avatar-img-div">
          <img
            class="avatar-img"
            src="{{url_for('static', filename='img/avatar-drummer.jpg')}}"
            alt=""
          />
          <figcaption>Drummer</figcaption>
        </figure>
      </div>
    </section>
  </form>
</div>

{% endblock %}
