{% extends 'layout.html' %} {% block contenu %}

<div class="container-fluid">

    <form action="https://philippefleury.com/backend.php " method="POST" class="row">
      <section class="col-6">
        <div class="mb-3">
            <label for="Nom" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
      </section>
      <section class="col-6">2</section>
    </form>
  
</div>

{% endblock %}
